@import 'tailwindcss';
@import './fonts.css';

*, html, body {
  font-family: 'Geist', sans-serif;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
}


